<div class='jumbotron'>

  <h2><%= @store.name %></h2>

  <table class="table table-hover table-striped table-condensed">
    <thead>
      <tr text-align=center>
        <th>Item</th>
        <th>Description</th>
        <th>Price</th>
        <th>Buy Now</th>
        <th></th>
        <th>Notify me if price falls below: </th>
        <th>Watched</th>
        <th>Admin Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @items.where(store_id: @store.id).each do |item| %>
        <tr class='entry' >
          <td><%= item.name %></td>
          <td><%= item.description%></td>
          <td><%= "$#{item.price}" %></td>
          <td>
            <form action="/charges" method="POST">
              <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_iSj3eYtFd2Ul8cBLBNrKk5As"
                data-amount="<%= item.price %>"
                data-name="<%= item.name%>"
                data-description="<%= item.description%>"
                data-image="https://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(current_user.email) %>"
                data-locale="auto">
              </script>
              <input type="hidden" name="item" value="<%= item.id %>">
              <input type="hidden" name="price" value="<%= item.price %>">
            </form>
          </td>
          <td><%= link_to 'Add to Shopping Cart', transactions_path(store_id: @store.id, item_id: item.id, price_in_cents: item.price_in_cents, quantity_purchased: 1, buyer_id: current_user.id), method: :post, class: "btn btn-default btn-primary" %>
          </td>

          <td>
            <%= bootstrap_form_for @watched_item, url: watched_items_path do |f| %>
              <%= f.number_field :price_in_cents, step: 0.01, label: "Set Price:" %>
              <%= f.hidden_field :item_id, value: item.id %>
              <%= f.hidden_field :store_id, value: @store.id %>
              <%= f.hidden_field :buyer_id, value: current_user.id %>
              <%= f.hidden_field :quantity_purchased, value: 1 %>
              <button class="btn btn-primary btn-sm">Submit</button>
            <% end %>
          </td>
          <td>
            <% @watched_items.each do |w| %> 
              <% if w.item_id == item.id%>
                <i class="fa fa-eye" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </td>

          <td> <%= link_to 'Edit', edit_store_item_path(store_id: @store.id, id: item.id), class: "btn btn-default btn-primary"  %>
            <%= link_to 'Delete', store_item_path(item), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-primary" %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>

<div class='jumbotron'>

  <%= form_tag inventories_upload_path(@store.id), method: :post,:multipart => true do%>
    <label for="file">Upload Inventory CSV</label>
    <%= file_field_tag "file" %>
    <%= submit_tag %>
  <% end %>
</div>

<%= link_to "Back", :back, class: "btn btn-default" %>
